target
.settings
.metadata
.factorypath
.classpath
.project
*.iml
.idea/
.vscode/
nb-*
bin/
*.log
*.log-*
data
.DS_Store
cargo-tracker-test-data
/.apt_generated/
/.apt_generated_tests/
*.jar
.libertyls/
