/* Footer styling */
.cargo_footer {
    width: 68%;
    position: floating;
    float: left;
    bottom: 0px;
    left: 0px;
    margin-left: 16%;
    margin-bottom: 2%;
    padding-left: 0;
    background-color: #566D7E;
    border-radius: 5px;
    color: #FFF;
}

.cargo_footer p {
    width: 91%;
    margin: 2% auto;
}

caption {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    float: left;
    font-weight: bold;

}
