<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<server description="Open Liberty server">

  <!--The Liberty Maven Plugin has generated Liberty features necessary for your application in configDropins/overrides/generated-features.xml-->

  <featureManager>
    <feature>wasJmsClient-2.0</feature>
    <feature>wasJmsServer-1.0</feature>
    <feature>jsonb-1.0</feature>
    <feature>ejbLite-3.2</feature>
    <feature>beanValidation-2.0</feature>
    <feature>jsf-2.3</feature>
    <feature>jndi-1.0</feature>
    <feature>cdi-2.0</feature>
    <feature>jdbc-4.2</feature>
    <feature>jms-2.0</feature>
    <feature>ejbPersistentTimer-3.2</feature>
    <feature>jaxrs-2.1</feature>
    <feature>jaxb-2.2</feature>
    <feature>mdb-3.2</feature>
    <feature>batch-1.0</feature>
    <feature>jpa-2.2</feature>
  </featureManager> 

<!--  
  <logging traceSpecification="*=info:EJBContainer=all:Injection*=all:com.ibm.websphere.jaxrs*=all:com.ibm.ws.jaxrs*=all:logservice*=all:org.apache.cxf.*=all:rarInstall*=all:WAS.j2c*=all:runtime.update*=all:resource*=all"
    traceFileName="trace.log"
    maxFileSize="0"
    maxFiles="0"
    traceFormat="BASIC" 
  />
  -->

  <variable defaultValue="8080" name="default.http.port"/>
  <variable defaultValue="8081" name="default.https.port"/>
  
  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>
  <wasJmsEndpoint host="*" id="InboundJmsCommsEndpoint" wasJmsPort="7276" wasJmsSSLPort="9100"/> 
  
  <quickStartSecurity userName="usr" userPassword="pwd"/>

  <authorization-roles id="com.ibm.ws.batch">
    <security-role name="batchAdmin">	
      <special-subject type="EVERYONE"/>	
    </security-role>
  </authorization-roles>
  
  <connectionManager id="CargoCM" maxPoolSize="400" minPoolSize="1"/>
  
  <messagingEngine id="defaultME">
  	<queue forceReliability="ReliablePersistent" id="CargoHandledQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="MisdirectedCargoQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="DeliveredCargoQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="HandlingEventRegistrationAttemptQueue" maxQueueDepth="5000"/>
	<queue forceReliability="ReliablePersistent" id="RejectedRegistrationAttemptsQueue" maxQueueDepth="5000"/>
  </messagingEngine>
  
  <jmsQueueConnectionFactory connectionManagerRef="CargoCM" jndiName="java:app/jms/QueueConnectionFactory">
  </jmsQueueConnectionFactory>
  
  <jmsQueue id="CargoHandledQueue" jndiName="jms/CargoHandledQueue">
    <properties.wasJms queueName="CargoHandledQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/CargoHandledConsumer">
    <properties.wasJms destinationLookup="java:app/jms/CargoHandledQueue" destinationRef="CargoHandledQueue" destinationType="javax.jms.Queue" maxConcurrency="200"/>
  </jmsActivationSpec>  

  <jmsQueue id="MisdirectedCargoQueue" jndiName="jms/MisdirectedCargoQueue">
    <properties.wasJms queueName="MisdirectedCargoQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/MisdirectedCargoConsumer">
    <properties.wasJms destinationRef="MisdirectedCargoQueue" destinationType="javax.jms.Queue" maxConcurrency="200"/>
  </jmsActivationSpec>  

  <jmsQueue id="DeliveredCargoQueue" jndiName="jms/DeliveredCargoQueue">
    <properties.wasJms queueName="DeliveredCargoQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/DeliveredCargoConsumer">
    <properties.wasJms destinationRef="DeliveredCargoQueue" destinationType="javax.jms.Queue" maxConcurrency="200"/>
  </jmsActivationSpec>  

  <jmsQueue id="HandlingEventRegistrationAttemptQueue" jndiName="jms/HandlingEventRegistrationAttemptQueue">
    <properties.wasJms queueName="HandlingEventRegistrationAttemptQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/HandlingEventRegistrationAttemptConsumer">
    <properties.wasJms destinationRef="HandlingEventRegistrationAttemptQueue" destinationType="javax.jms.Queue" maxConcurrency="200"/>
  </jmsActivationSpec>  

  <jmsQueue id="RejectedRegistrationAttemptsQueue" jndiName="jms/RejectedRegistrationAttemptsQueue">
    <properties.wasJms queueName="RejectedRegistrationAttemptsQueue"/>
  </jmsQueue>

  <jmsActivationSpec id="cargo-tracker/RejectedRegistrationAttemptsConsumer">
    <properties.wasJms destinationRef="RejectedRegistrationAttemptsQueue" destinationType="javax.jms.Queue" maxConcurrency="200"/>
  </jmsActivationSpec>
  
  <jdbcDriver id="dbDriver" libraryRef="dbLib"/>
  
  <library id="dbLib">
  	<fileset dir="${env.HOME}/hsql" includes="hsqldb*.jar"/>
  </library>
  
  <dataSource id="cargoTrackerDataStore" jndiName="jdbc/CargoTrackerDatabase">
    <jdbcDriver libraryRef="dbLib"/>
    <properties URL="jdbc:hsqldb:mem:CargoTrackerDB" password="pwd" user="usr"/>
  </dataSource>
  
  <databaseStore id="EJBPersistentTimerStore" keyGenerationStrategy="SEQUENCE" tablePrefix="WLP2_"/>
  <persistentExecutor enableTaskExecution="true" id="EJBPersistentTimerExecutor" ignore.minimum.for.test.use.only="true" initialPollDelay="-1" retryInterval="300s" retryLimit="-1" taskStoreRef="EJBPersistentTimerStore">
  </persistentExecutor>

  <databaseStore id="ejbTimerDataStore" keyGenerationStrategy="SEQUENCE"/>
  <dataSource id="DefaultDataSource" jdbcDriverRef="dbDriver">
        <properties URL="jdbc:hsqldb:mem:EJBTimerDS" password="pwd" user="usr"/>
  </dataSource>
  
  <ejbContainer>
        <timerService persistentExecutorRef="EJBPersistentTimerExecutor"/>
        <timerService missedPersistentTimerAction="ONCE"/>
  </ejbContainer>

  <webApplication contextRoot="cargo-tracker" location="cargo-tracker.war">
  	<classloader commonLibraryRef="dbLib"/>
  	<web-bnd moduleName="cargo-tracker">
      <env-entry name="java:app/configuration/GraphTraversalUrl" value="http://localhost:8080/cargo-tracker/rest/graph-traversal/shortest-path"/>
  	</web-bnd>
    <application-bnd>
      <security-role name="batchAdmin">
          <special-subject type="EVERYONE"/>
      </security-role>
    </application-bnd>
  </webApplication>

  <keyStore id="defaultKeyStore" password="password"/>
  <applicationMonitor updateTrigger="mbean"/>
  <applicationManager autoExpand="true"/>
  <httpSession cookieName="COOKIE"/>
  <channelfw chainQuiesceTimeout="60s"/>
  
</server>
