<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>primefaces.MOVE_SCRIPTS_TO_BOTTOM</param-name>
        <param-value>true</param-value>
    </context-param>
    <!-- Overriding system level defaults is a decent usage of XML -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <!-- Application resource dependencies like JMS queues and data
         sources are still good candidates for XML, as is application
         configuration. -->
    <env-entry>
        <env-entry-name>java:app/configuration/GraphTraversalUrl</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>${webapp.graphTraversalUrl}</env-entry-value>
    </env-entry>

    <!-- Defining these at the application server level instead of here
         can be more operations friendly and help make deployment even
         faster. -->
    <data-source>
        <name>java:app/jdbc/CargoTrackerDatabase</name>
        <class-name>org.apache.derby.jdbc.EmbeddedDriver</class-name>
        <url>jdbc:derby:${webapp.databaseTempDir}/cargo-tracker-database;create=true</url>
    </data-source>
    <jms-destination>
        <name>java:app/jms/CargoHandledQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>CargoHandledQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:app/jms/MisdirectedCargoQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>MisdirectedCargoQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:app/jms/DeliveredCargoQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>DeliveredCargoQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:app/jms/RejectedRegistrationAttemptsQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>RejectedRegistrationAttemptsQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:app/jms/HandlingEventRegistrationAttemptQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>HandlingEventRegistrationAttemptQueue</destination-name>
    </jms-destination>
</web-app>
